<div
  class="bg-white border-b border-purple-500 shadow-sm
         px-4 py-3
         flex flex-col gap-4
         sm:flex-row sm:items-center  sm:gap-5  
         md:flex
         lg:grid lg:grid-cols-[auto_1fr_auto]
         lg:items-center lg:gap-4">


  <!-- LEFT : Hostel Info -->
  <div class="flex flex-col sm:flex-shrink-0">
    <p class="text-sm lg:text-base font-semibold text-gray-900">
      GHRCE BOYS HOSTEL
    </p>
    <p class="text-xs lg:text-sm text-gray-400 -mt-0.5">
      Shradha Park, Nagpur
    </p>
  </div>


<!-- CENTER : Search -->
<div class="lg:flex-1 lg:max-w-md lg:mx-auto">
  <div
    class="flex items-center gap-2
           bg-[#FDF2D6]
           px-3 py-2
           rounded-lg
           w-64
           sm:w-36
           lg:w-full">

    <svg xmlns="http://www.w3.org/2000/svg"
         fill="none" viewBox="0 0 24 24"
         stroke-width="1.5"
         stroke="currentColor"
         class="w-5 h-5 text-gray-600 shrink-0">
      <path stroke-linecap="round" stroke-linejoin="round"
            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
    </svg>

    <input
      type="search"
      placeholder="Search"
      class="bg-transparent outline-none text-sm w-full placeholder:text-gray-500" />
  </div>
</div>






  <!-- RIGHT : Actions -->
<div class="flex items-center justify-start gap-4 sm:flex-shrink-0 lg:justify-end">


    <!-- Notification -->
    <button class="relative shrink-0">
      <svg width="22" height="22" viewBox="0 0 18 18" fill="none"
           xmlns="http://www.w3.org/2000/svg">
        <path d="M13.5 6C13.5 4.80653 13.0259 3.66193 12.182 2.81802
                 C11.3381 1.97411 10.1935 1.5 9 1.5
                 C7.80653 1.5 6.66193 1.97411 5.81802 2.81802
                 C4.97411 3.66193 4.5 4.80653 4.5 6
                 C4.5 11.25 2.25 12.75 2.25 12.75H15.75
                 C15.75 12.75 13.5 11.25 13.5 6Z"
              stroke="#0E0031" stroke-width="1.8"
              stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M10.2975 15.75
                 C10.1657 15.9773 9.9764 16.166 9.74868 16.2971
                 C9.52097 16.4283 9.2628 16.4973 9.00001 16.4973
                 C8.73723 16.4973 8.47906 16.4283 8.25134 16.2971
                 C8.02363 16.166 7.83437 15.9773 7.70251 15.75"
              stroke="#0E0031" stroke-width="1.8"
              stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>

    <!-- Profile -->
    <div class="flex items-center gap-3 shrink-0">
      <img
        src="/assets/Group 111.png"
        alt="profile"
        class="w-11 h-11 rounded-full border-2 border-gray-200 object-cover" />

      <div class="hidden sm:flex flex-col leading-tight">
        <p class="text-sm font-medium text-gray-900">
          Vaibhav
        </p>
        <p class="text-xs text-gray-500">
          Hostel Warden
        </p>
      </div>
    </div>

  </div>
</div>  